.wrapper {
  display: flex;
  background-color: rgb(212, 213, 255);
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin-bottom: 7px;
  padding: 10px;
}

.delete-chat {
  width: 23px;
  height: 20px;
}

.chatName{
  text-decoration: none;
  color: rgb(1, 13, 78);
}
